<?xml version="1.0"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InspireDisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>

  <userSettings>
        <InspireDisplay.Properties.Settings>
            <setting name="DefaultSlideGuid" serializeAs="String">
                <value>DefaultSlide</value>
            </setting>
        </InspireDisplay.Properties.Settings>
    </userSettings>

  <appSettings>
    <add key="HTTP" value="http://"/>
    <add key="ServerHostName" value="twsignage"/>
    <add key="EventRefreshInterval" value="1"/>
    <add key="LookAheadTime" value="01:00:00"/>
    <add key="LookBehindTime" value="00:00:00"/>
    <add key="EventManagerConfig" value="/Inspire.Events/Svc/EventService"/>
    <add key="RoomManagerConfig" value="/Inspire.Events/Svc/RoomService"/>
    <add key="DirectionManagerConfig" value="/Inspire.Events/Svc/DirectionService"/>
    <add key="LogErrors" value="True"/>
    <add key="WeatherServiceConfig" value="http://inspire.cloudapp.net/weatherservice.svc"/>
    <add key="FlightInfoConfig" value="http://inspire.cloudapp.net/FlightInfoService.svc"/>
    <add key="MapSearchServiceConfig" value="http://dev.virtualearth.net/webservices/v1/searchservice/searchservice.svc"/>
    <add key="MapRouteServiceConfig" value="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc"/>
  </appSettings>


  <system.serviceModel>

    <!--Begin outbound calls to events server  ****************************************************************************************-->
    <client>
      <endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="DirectionReference.DirectionServiceContract" name="DirectionEndpoint"/>
      <endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="RoomsService.RoomsServiceContract" name="RoomsEndpoint"/>
      <endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="EventReference.EventServiceContract" name="FeedsEndpoint"/>
      <endpoint address="http://inspire.cloudapp.net/weatherservice.svc" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="WeatherService.IWeatherService" name="WeatherServiceEndpoint"/>
      <endpoint address="http://inspire.cloudapp.net/FlightInfoService.svc" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="FlightService.IFlightInfoService" name="FlightInfoServiceEndpoint" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/searchservice/searchservice.svc" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="MapsSearchService.ISearchService" name="MapSearchServiceEndpoint"/>
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="RouteService.IRouteService" name="MapRouteServiceEndpoint"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamedHTTP" transferMode="Streamed" maxReceivedMessageSize="1073741824" receiveTimeout="00:01:00" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:10:00" maxBufferSize="1073741824">
          <!--maxRequestLength="65536"-->
          <!--messageEncoding="Mtom"-->
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1073741824" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="BufferedHTTP" transferMode="Buffered" maxReceivedMessageSize="1073741824" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1073741824" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--End outbound calls to events server  ****************************************************************************************-->
    
  </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
