<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Inspire.Client.InspireClient" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="HTTP" value="http://"/>
    <!-- This is moved to ServerSettings.config
		<add key="ServerHostName" value="devserver200312"/>-->
    <add key="ServerHostName" value="devserver2003"/>
    <add key="EventRefreshInterval" value="1"/>
    <add key="LookAheadTime" value="01:00:00"/>
    <add key="LookBehindTime" value="00:00:00"/>
		<add key="DisplayManagerConfig" value="/Inspire.Server/Svc/DisplayService.svc"/>
		<add key="GroupManagerConfig" value="/Inspire.Server/Svc/GroupService.svc"/>
		<add key="PropertyManagerConfig" value="/Inspire.Server/Svc/PropertyService.svc"/>
		<add key="ScheduledSlideManagerConfig" value="/Inspire.Server/Svc/ScheduledSlideService.svc"/>
		<add key="SlideManagerConfig" value="/Inspire.Server/Svc/SlideService.svc"/>
		<add key="ScheduleManagerConfig" value="/Inspire.Server/Svc/ScheduleService.svc"/>
		<add key="SlideFileManagerConfig" value="/Inspire.Server/Svc/SlideFileService.svc"/>
		<add key="EventManagerConfig" value="/Inspire.Events/Svc/EventService.svc"/>
		<add key="RoomManagerConfig" value="/Inspire.Events/Svc/RoomService.svc"/>
		<add key="UserManagerConfig" value="/Inspire.Server/Svc/UserService.svc"/>
		<add key="DirectionManagerConfig" value="/Inspire.Events/Svc/DirectionService.svc"/>
		<add key="TemplateManagerConfig" value="/Inspire.Events/Svc/TemplateService.svc"/>
		<add key="DisplayAdminConfig" value="/Inspire.Server/Svc/DisplayAdminService.svc"/>
		<add key="EventImageConfig" value="/Inspire.Events/svc/ImageService.svc"/>
		<add key="GroupConfig" value="/inspire.events/svc/groupservice.svc"/>
    <add key="WeatherServiceConfig" value="http://localhost:4714/weatherservice.svc"/>
    <add key="FlightInfoConfig" value="http://localhost:13818/FlightService.svc"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="StreamedHTTP" transferMode="Streamed" maxReceivedMessageSize="1073741824" receiveTimeout="00:01:00" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:10:00" maxBufferSize="1073741824">
					<!--maxRequestLength="65536"-->
					<!--messageEncoding="Mtom"-->
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1073741824" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
				</binding>
				<binding name="BufferedHTTP" transferMode="Buffered" maxReceivedMessageSize="1073741824" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1073741824" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="DisplayAdminServiceReference1.DisplayAdminServiceContract" name="DisplayAdminEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="ScheduleServiceReference.ServiceManagerServiceContract" name="ScheduleServiceEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="DisplaysServiceReference.ClientDisplayServiceContract" name="DisplaysEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="DisplayGroupsServiceReference.ClientDisplayGroupsServiceContract" name="DisplayGroupEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="DisplayPropertyServiceReference.ClientDisplayPropertiesServiceContract" name="Endpoint1"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="SlideServiceReference.SlideManagerServiceContract" name="SlideEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="ScheduledSlideServiceReference.ScheduledSlideManagerServiceContract" name="ScheduledSlideEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="StreamedHTTP" contract="SlideFileServiceReference.SlideFileManagerServiceContract" name="SlideFileEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="StreamedHTTP" contract="TemplateService.TemplateServiceContract" name="TemplateEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="DirectionReference.DirectionServiceContract" name="DirectionEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="UserServiceReference.UserServiceContract" name="UserEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="RoomsService.RoomsServiceContract" name="RoomsEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="EventReference.EventServiceContract" name="FeedsEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="ImageReference.ImageServiceContract" name="ImageEndpoint"/>
			<endpoint binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="GroupsReference.GroupsServiceContract" name="GroupEndpoint"/>
      <endpoint address="http://localhost:4714/weatherservice.svc" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="WeatherService.IWeatherService" name="WeatherServiceEndpoint"/>
      <!--<endpoint address="http://inspire-weather.cloudapp.net/WeatherService.svc" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="WeatherService.IWeatherService" name="WeatherServiceEndpoint" />-->
      <endpoint address="http://localhost:13818/FlightService.svc" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" contract="FlightService.IFlightService" name="FlightServiceEndpoint"/>
		</client>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevComponents.WpfDock" publicKeyToken="ADEF513EDC9ED778" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DevComponents.WpfRibbon" publicKeyToken="2037E151916410E7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<Inspire.Client.InspireClient>
			<setting name="ServerName" serializeAs="String">
				<value>TestIP</value>
			</setting>
		</Inspire.Client.InspireClient>
	</userSettings>
</configuration>
