<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="AppPath" value="C:\Program Files\Inspire\Display\App\InspireDisplay.exe" />
     <add key="AppName" value="InspireDisplay" />
     <add key="LogEvents" value="True"/>
     <add key="DailyRebootTime" value="12:30:00 AM" />
     <add key="DailyReboot" value="False" />
     <!--Daily Reboot-->
     <add key="BiHourlyReboot" value="True" /> 
     <!--Hourly Reboot-->
     <add key="SleepDuringReboot" value="True" />
     <!--HH:MM:SS AM-->
  </appSettings>
</configuration>