<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>


  <appSettings>
    <add key="DisplayService" value="/inspire/displayservice/"/>
    <add key="HttpType" value="http://"/>
    <add key="LogErrors" value="True"/>
    <add key="ScheduleDaysForward" value="30"/>
    <add key="DisplayLicense" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="Inspire.Data" connectionString="Data Source=localhost\inspire;Initial Catalog=InspireServerDB; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">


      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>

    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    <!--Large File Support-->
    <httpRuntime maxRequestLength="2097151"/>
    <!--Large File Support-->
  </system.web>

  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <!--<validation validateIntegratedModeConfiguration="false"/>-->

  </system.webServer>
  <system.serviceModel>




    <!--Enable Streaming-->
    <!-- <diagnostics>
	   <messageLogging
			 logEntireMessage="true"
			 logMalformedMessages="true"
			 logMessagesAtServiceLevel="true"
			 logMessagesAtTransportLevel="true"
			 maxMessagesToLog="3000"
			 maxSizeOfMessageToLog="2000"/>
	  
    </diagnostics>-->

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>

    <behaviors>

      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>

        <behavior name="XPOHostBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>

    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="BufferedHTTP" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="1073741824"
          transferMode="Buffered">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1073741824"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="StreamedHTTP" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="1073741824"
          maxReceivedMessageSize="1073741824" transferMode="Streamed">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1073741824"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="SettingServiceEndpoint" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <!--Outgoing Client config-->
    <client>
      <endpoint address="http://capehorn/inspire/DisplayService" binding="basicHttpBinding"
        bindingConfiguration="StreamedHTTP" contract="ServiceReference1.DisplayServiceContract"
        name="DisplayEndpoint" />
      <endpoint address="http://localhost/Inspire.Server/Svc/SettingService"
        binding="basicHttpBinding" bindingConfiguration="SettingServiceEndpoint"
        contract="ServiceReference1.SettingServiceContract" name="SettingServiceEndpoint" />
    </client>

    <!--Services config-->
    <services>

      <!--ScheduleManager config-->
      <service behaviorConfiguration="DefaultBehavior" name="Inspire.Server.ScheduleManager.ServiceImplementation.ScheduleManagerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Inspire.Server/Svc/ScheduleService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" name="ScheduleServiceEndpoint" bindingNamespace="http://schemas.inspiredisplays.com/ServiceContract/" contract="Inspire.Server.ScheduleManager.ServiceContracts.IServiceManagerServiceContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!--Display config-->
      <service behaviorConfiguration="DefaultBehavior" name="Inspire.Server.Display.ServiceImplementation.ClientDisplayService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Inspire.Server/Svc/DisplayService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" name="DisplaysEndpoint" bindingNamespace="http://schemas.inspiredisplays.com/ServiceContract.Model/" contract="Inspire.Server.Display.ServiceContracts.IClientDisplayServiceContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!--DisplayProperties config-->
      <service behaviorConfiguration="DefaultBehavior" name="Inspire.Server.Display.ServiceImplementation.ClientDisplayPropertiesService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Inspire.Server/Svc/PropertyService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" name="Endpoint1" bindingNamespace="http://schemas.inspiredisplays.com/ServiceContract.Model/" contract="Inspire.Server.Display.ServiceContracts.IClientDisplayPropertiesServiceContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!--DisplayGroup config-->
      <service behaviorConfiguration="DefaultBehavior" name="Inspire.Server.Display.ServiceImplementation.ClientDisplayGroupsService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Inspire.Server/Svc/GroupService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" name="DisplayGroupEndpoint" bindingNamespace="http://schemas.inspiredisplays.com/ServiceContract.Model/" contract="Inspire.Server.Display.ServiceContracts.IClientDisplayGroupsServiceContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!--SlideManager config-->
      <service behaviorConfiguration="DefaultBehavior" name="Inspire.Server.SlideManager.ServiceImplementation.SlideManagerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Inspire.Server/Svc/SlideService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" name="SlideEndpoint" bindingNamespace="http://schemas.inspiredisplays.com" contract="Inspire.Server.SlideManager.ServiceContracts.ISlideManagerServiceContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!--SlideFileManager config-->
      <service behaviorConfiguration="XPOHostBehavior" name="Inspire.Server.SlideManager.ServiceImplementation.SlideFileManagerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Inspire.Server/Svc/SlideFileService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="StreamedHTTP" name="SlideFileEndpoint" bindingNamespace="http://schemas.inspiredisplays.com" contract="Inspire.Server.SlideManager.ServiceContracts.ISlideFileManagerServiceContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!--ScheduledSlide config-->
      <service behaviorConfiguration="DefaultBehavior" name="Inspire.Server.ScheduledSlideManager.ServiceImplementation.ScheduledSlideManagerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Inspire.Server/Svc/ScheduledSlideService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" name="ScheduledSlideEndpoint" bindingNamespace="http://schemas.inspiredisplays.com/ServiceContract/" contract="Inspire.Server.ScheduledSlideManager.ServiceContracts.IScheduledSlideManagerServiceContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!--User config-->
      <service behaviorConfiguration="DefaultBehavior" name="Inspire.Users.ServiceImplementation.UserService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Inspire.Server/Svc/UserService"/>
          </baseAddresses>
        </host>   
        <endpoint address="" binding="basicHttpBinding" name="UserEndpoint" bindingNamespace="http://schemas.inspiredisplays.com" contract="Inspire.Users.ServiceContracts.IUserServiceContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!--DisplayAdmin config-->
      <service behaviorConfiguration="DefaultBehavior" name="Inspire.Server.DisplayAdmin.ServiceImplementation.DisplayAdminService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Inspire.Server/Svc/DisplayAdminService"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BufferedHTTP" name="DisplayAdminEndpoint" bindingNamespace="http://schemas.inspiredisplays.com" contract="Inspire.Server.DisplayAdmin.ServiceContracts.IDisplayAdminServiceContract"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

    </services>

  </system.serviceModel>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
